* {
    margin: 0;
    padding: 0;
    color: whitesmoke
}

body {
    background: no-repeat fixed center url("../assets/bg.jpg");
    background-size: cover;
}

.logo {
    align-self: center;
}

.appbar {
    position: relative ;
}

.appbar_cont {
    display: flex ;
    justify-content: space-between ;
}

#container {
	max-height: 800px;
    min-height: 75vh;
}

.chart {
    cursor: crosshair;
}
