* {
    margin: 0;
    padding: 0;
    /* color: whitesmoke */
}

body {
    min-height: 100vh;
    background: linear-gradient(#3f51b5, white);
    /* background: no-repeat fixed center url("../assets/bg.jpg"); */
    background-size: cover;
}

.logo {
    align-self: center;
}

.appbar {
    position: relative ;
}

.appbar_cont {
    display: flex ;
    justify-content: space-between ;
}

#container {
	max-height: 800px;
    min-height: 75vh;
}

.chart {
    cursor: crosshair;
}

.chart_container {
    padding-left: 24px;
    padding-right: 24px;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-width: 750px;
}

.compare_table {
    width: 70%;
    min-width: 750px;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.MuiOutlinedInput-notchedOutline {
    border-top: none;
    border-left: none;
    border-right: none;
}
